.container-parent {
  background-color: var(--borders);
  padding: 20px;
  border-radius: 8px;
}

.list-parent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parent-header, .parent-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 5px;
}

.parent-header {
  font-weight: bold;
  background-color: var(--borders);
  color: white;
}

.parent-header h2, .parent-item p {
  flex: 1; /* Da el mismo espacio a cada uno */
  text-align: center; /* Centra el contenido dentro de cada celda */
}

.parent-item {
  background-color: var(--bg-color);
}

.parent-actions {
  display: flex;
  gap: 5px;
}

.parent-actions button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--second-accent);
}

.parent-actions button:hover {
  opacity: 0.8;
}

.add-parent {
  background-color: var(--second-accent);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--h1-color);
}

.filter-list {
  display: flex;
  gap: 20px;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
}

.filter-list select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--first-accent);
  color: white;
}

.search-name, .select-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.search-name input {
  background-color: var(--first-accent);
  color: white;
  padding: 5px;
  border-radius: 5px;
}
