.container-fee{
    background-color: var(--borders);
    padding: 20px;
    border-radius: 5px;
}

.fee-header{
    display: flex;
    justify-content: space-between;
}

.add-fee{
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--second-accent);
}

.fee-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fee-historical{
    background-color: var(--borders);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.fee-actions {
    display: flex;
    gap: 5px;
  }

.fee-actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--second-accent);
    gap: 5px;
  }
  
.fee-actions button:hover {
    opacity: 0.8;
}

.fee-header button{
    background-color: var(--second-accent);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 25px;
}