.container-fee {
    background-color: var(--borders);
    padding: 20px;
    border-radius: 5px;
}

.fee-schedule {
    display: flex;
    flex-direction: column;
}

.payment-actions {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre checkbox y botón */
    margin-top: 10px;
}

.payment-label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-payment {
    background-color: var(--second-accent);
    padding: 10px;
    border-radius: 5px;
    color: var(--h1-color);
    width: 20%;
    margin-top: 10px;
}

.container-payment{
    background-color: var(--borders);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}